@page "/clients"
@inject HttpClient _httpclient

<h3>Clients</h3>

@code {
    private List<ClientModel> clients;

    protected override async Task OnInitializedAsync()
    {
        clients = await _httpclient.GetFromJsonAsync<List<ClientModel>>("api/GetClients");
    }
}