@page "/clients"
@using ClientApp.Services
@inject BackEndHttpClient _httpclient


<h3>Clients</h3>

<Grid @ref="grid"
    TItem="ClientModel"
        Class="table table-hover border-top"
    Data="clients">
    <GridColumns>
        <GridColumn TItem="ClientModel" HeaderText="FullName" PropertyName="FullName">
            @context.Fullname
        </GridColumn>
        <GridColumn TItem="ClientModel" HeaderText="Surname" PropertyName="Surname">
            @context.Surname
        </GridColumn>
        <GridColumn TItem="ClientModel" HeaderText="Balance" PropertyName="ClientBalance">
            @context.ClientBalance
        </GridColumn>
    </GridColumns>
</Grid>


@code {
    Grid<ClientModel> grid = default!;
    private List<ClientModel> clients { get; set; } = new List<ClientModel>();
    private ClientModel selectedClient;
    private List<TransactionModel> transactions;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await _httpclient.GetDataAsync<List<ClientModel>>("api/Client/GetClients");


            if (result.Succeeded)
            {
                clients = result.Data;
            }
            else
            {
                //show error
            }
        }
        catch (Exception ex)
        {
            
            throw ex;
        }
    }

}
